@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.common-btn {
  width: 200px;
  padding: 5px;
  background-color: rgb(221, 217, 217);
  color: #000;
  border-radius: 15px;
  font-family: "Poppins", serif;
  font-weight: 600px;
  margin: 7px 0px;
}

.common-btn:hover {
  transition: 0.3s;
  background-color: #ea6e3a;
  color: rgb(235, 233, 233);
}

@media (max-width: 420px) {
  .common-btn {
    width: 100px;
    margin-top: 3px;
  }
}
