@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.connections-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: 1px solid #bbbbbb;
  background-color: #0e1727;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;

  .grid-child {
    border: 1px solid #bbbbbb;
    width: 250px;
    height: 330px;
    margin: 10px;
    margin-right: 3px;
    padding: 10px;
    background-color: #e0d7cc;
    display: flex;

    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .name {
      font-family: "Poppins";
      font-size: 17px;
      font-weight: 600;
    }

    .headline {
      margin-top: -15px;
      font-family: "Poppins";
      font-size: 15px;
      font-weight: 400;
    }

    button {
      width: 90%;
      height: 40px;
      position: absolute;

      bottom: 10px;
      cursor: pointer;
      background-color: white;
      color: #f37915;
      border: 1px solid #004284;
      font-size: 16px;
      font-family: "Poppins";
      border-radius: 30px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    button:hover {
      background-color: #f37915;
      color: whitesmoke;
    }
  }
}

@media (max-width: 600px) {
  .connections-main {
    grid-template-columns: auto auto;
    margin-top: 0;
    width: 100%;
    .grid-child {
      width: auto;
      height: 285px;
      .name {
        margin-bottom: 10px;
        font-size: 15px;
      }
      .headline {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 320px) {
  .connections-main {
    display: flex;
    flex-direction: column;
    .grid-child {
      width: 285px;
      height: 285px;
      .name {
        margin-bottom: 10px;
        font-size: 15px;
      }
      .headline {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .connections-main {
    grid-template-columns: repeat(2, 1fr);
    .grid-child {
      margin-left: 25px;
    }
  }
}
