$Peach: #f8c499;
$Orange1: #f8a25b;
$Orange2: #fd8625;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
}

.login-wrapper {
  height: 100vh;
  position: relative;

  .login-wrapper-inner {
    width: 30%;
    position: absolute;
    top: 20%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebac7994;
    backdrop-filter: 50px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 15px;
  }

  .heading {
    font-family: "Poppins";
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
  }

  .sub-heading {
    margin-top: -3px;
    font-family: "Poppins";
    text-align: center;
  }
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  // z-index: 1;
}

.musicLogo {
  width: 80px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;

  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

.google-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // z-index: 1;

  .google-btn {
    width: 300px;
  }

  .go-to-signup {
    font-size: 18px;
  }

  .join-now {
    color: $Orange2;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 18px;
    // z-index: 1;
  }

  .join-now:hover {
    color: #ff7300;
  }
}

@media (max-width: 420px) {
  .musicLogo {
    width: 60px;
    position: absolute;
    left: 99%;
    margin-top: 9px;
  }

  .login-wrapper .login-wrapper-inner {
    width: 100%;
  }

  .login-wrapper {
    position: relative;
    margin-left: -3px;
    margin-right: 14.3rem;
  }

  .login-wrapper {
    .login-wrapper-inner {
      padding: 60px;
    }
  }

  .common-input {
    width: 70%;
    margin: auto;
  }

  .login-btn,
  .google-btn {
    width: 200px !important;
  }

  .login-btn {
    margin: auto;
  }

  .heading:nth-child(1) {
    width: 85%;
  }
}

@media (max-width: 320px) {
  .common-input {
    width: 60%;
  }

  .login-wrapper {
    left: 20px;
  }

  .musicLogo {
    margin-left: 25px;
  }
}
