.profile-card{
    width: auto;
    height: auto;
    background-color: whitesmoke;
    margin: 30px;
    border-radius: 5px;
    padding: 1.2rem;
    position: relative
}

.username{
    font-family: system-ui;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 24px;
}

.userEmail{
    margin-top: -20px;
    font-family: system-ui;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
}

.edit-btn{
    position: absolute;
    right: 20;
}

button{
    font-family: system-ui;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    padding: 5px 15px;
    border: none;
}