.like-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 7px 10px;
    cursor: pointer;
    margin-bottom: -20px;

    p {
        font-family: system-ui;
        font-weight: 400;
        color: grey;
        font-size: 14px;
        margin-left: 5px;
        margin-top: 10px;
        
    }

    .likes-inner {
        display: flex;
        align-items: center;
        margin-top: -20px;
        .blue {
            color: #0a66c2;
        }
        .black {
            color: black;
        }

        p {
        font-family: system-ui;
        font-weight: 600;
        color: grey;
        font-size: 13px;
    
    }
}
}